Flask==2.3.2
Bootstrap-Flask==2.3.3
Flask-CKEditor==0.5.1
Flask-Gravatar==0.5.0
Flask-Login==0.6.3
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
WTForms==3.0.1
Werkzeug==3.0.0
SQLAlchemy==2.0.25
pymysql==1.0.3
gunicorn==21.2.0
psycopg2-binary==2.9.9
requests==2.31.0
setuptools==69.1.0
dropbox==11.36.2