{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Welkom! Laat mij even uitleggen waar deze website voor is, en hoe hij werkt!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hoi! Mijn naam is Jorick, en voor de komende maanden studeer ik in Taiwan
          als deel van mijn Bachelor International Business! Nu is dit natuurlijk een
          geweldige ervaring, en daarom wil ik deze graag met iedereen delen!
          Hiervoor heb ik deze website gemaakt, waar ik al mijn ervaringen kan delen!
        </p>
        <p>
          Na deze uitwisseling ben ik klaar met mijn Bachelor, en is het tijd voor een Master!
          Ik wil graag een Master volgen waarvoor ik ervaring moet hebben in de computerwetenschappen,
          hierdoor zal ik in Taiwan vakken volgen die mijn kennis hierover vergroten. Ook ben ik zelf
          al veel aan het oefenen, zo is deze website met Python helemaal door mijzelf geprogammeerd!
          Mocht er dus iets niet werken op de website, kan het zijn dat ik ergens een klein foutje heb
          gemaakt. Stuur mij dan even een appje, en dan ga ik erachteraan!
        </p>
        <p>
          Zoals je kan zien kun je voor de website een account maken. Ik heb dit toegevoegd zodat je
          als je wilt een reactie achter kan laten op de posts, en ik kan zien wie de reactie heeft geplaatst,
          wel zo leuk! Het e-mail adres en wachtwoord zijn alleen om later opnieuw in te kunnen loggen, dus
          wees niet bang voor allemaal spam. Ook is het wachtwoord veilig bewaard door een techniek genaamd "hashing",
          waardoor niemand (niet eens ik) het wachtwoord kan zien, maar je wel kunt inloggen!

          Voel je dus vrij om een account te maken als je een reactie wilt achterlaten, maar als je dit niet nodig
          vind heb je het ook nergens anders voor nodig, dus het hoeft zeker niet!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
