{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/assets/img/edit-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if is_edit %}
          <h1>Edit Post</h1>
          {% else %}
          <h1>New Post</h1>
          {% endif %}
          <span class="subheading">You're going to make a great blog post!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" id="post_form" action="{{ url_for('add_new_post') }}" enctype="multipart/form-data">
          {{ ckeditor.load() }}
          {{ ckeditor.config(name='body') }}
          {{ form.hidden_tag() }} 

          <!-- Title Field -->
          <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
          </div>

          <!-- Image URL Field -->
          <div class="form-group">
            {{ form.img_url.label(class="form-label") }}
            {{ form.img_url(class="form-control") }}
          </div>

          <!-- Body Field -->
          <div class="form-group">
            {{ form.body.label(class="form-label") }}
            {{ form.body(class="form-control") }}
          </div>

          <!-- Images Folder Field -->
          <div class="form-group">
            {{ form.images_folder.label(class="form-label") }}
            {{ form.images_folder(class="form-control") }}
          </div>

          <!-- Tagged Users Section -->
          <div class="form-group">
            <label for="user_id">Tag User by ID:</label>
            <div class="input-group">
              <input type="text" id="user_id" class="form-control" name="user_id">
              <button type="button" class="btn btn-secondary" id="check_user">Check User</button>
            </div>
          </div>
          <ul id="tagged_users" class="mt-3"></ul>
          <input type="hidden" name="tagged_users_data" id="tagged_users_data">

          <!-- Submit Button -->
          <div class="form-group mt-4">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var taggedUsers = [];

    $('#check_user').on('click', function() {
      var userId = $('#user_id').val();
      $.ajax({
        url: '/check_user',
        method: 'POST',
        data: { user_id: userId },
        success: function(response) {
          if (response.status === 'found') {
            taggedUsers.push(response.user);
            $('#tagged_users').append(
              `<li id="user_${response.user.id}">
                ${response.user.id} - ${response.user.name}
                <button type="button" onclick="removeUser(${response.user.id})">Remove</button>
              </li>`
            );
            $('#user_id').val('');
          } else {
            alert('User not found');
          }
        }
      });
    });

    window.removeUser = function(userId) {
      taggedUsers = taggedUsers.filter(user => user.id !== userId);
      $(`#user_${userId}`).remove();
    };

    $('#post_form').on('submit', function(event) {
      $('#tagged_users_data').val(JSON.stringify(taggedUsers));
    });
  });
</script>