{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <span class="meta">Posted by <a href="#">{{ post.author.user_name }}</a> on {{ post.upload_date }}</span>
          <span class="meta">with 
            {% for user in tagged_users %}
            <a href="#">{{ user.name }}. </a>
            {% endfor %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5">
    <!-- Left Column (Post Content) -->
    <div class="col-md-8">
      <article>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-12 col-xl-9">
              {{ post.body|safe }}

              {% if is_author %}
              <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary float-right" href="#" onclick="confirmDeletePost('{{ post.title }}', '{{ post.author.user_name }}', '{{ url_for('delete_post', post_id=post.blogpost_id) }}')">Edit Post</a>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary float-right" href="#" onclick="confirmDeletePost('{{ post.title }}', '{{ post.author.user_name }}', '{{ url_for('delete_post', post_id=post.blogpost_id) }}')">Delete Post</a>
              </div>
              {% endif %}

              <!-- Display images fetched from Dropbox -->
              <div class="image-gallery">
                <h2>Image Gallery</h2>
                <div class="row">
                  {% for image_file in image_files %}
                  <div class="col-md-4 mb-3">
                    <img
                      src="{{ url_for('static', filename='assets/img/profile_img/extracted/' + post_id + '/' + image_file) }}"
                      class="img-fluid"
                      alt="{{ image }}"
                    />
                  </div>
                  {% endfor %}
                </div>
              </div>

              <!-- Comments Area -->

              <div class="comment">
                {{ render_form(form) }}

                {% for comment in all_comments %}
                  {% if comment.post_id == post.blogpost_id %}
                  <ul class="commentList">
                    <li>
                      <div class="commentText">
                        <span class="sub-text"><a href="#">{{comment.user_id}}</a> <a href="#">{{comment.user.user_name}}</a></span>
                        {% if is_author or comment.user_id == current_user.get_id() %}
                        <a href="#" onclick="confirmDeleteComment('{{ comment.comment }}', '{{ comment.user.user_name }}', '{{ comment.comment_time }}', '{{ url_for('delete_comment', comment_id=comment.comment_id, post_id=post.blogpost_id) }}')">✘</a>
                        {% endif %}
                        <p>{{comment.comment}}</p>
                        <span class="date sub-text">{{comment.comment_time}}</span>
                      </div>
                    </li>
                  </ul>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- Right Column (Recent Posts) -->
    <div class="col-md-3">
      <div class="position-sticky" style="top: 2rem;">
        <div>
          <h4 class="fst-italic">Recent posts</h4>
          {% for other_post in all_posts %}
            {% if other_post.blogpost_id != post.blogpost_id %}
              {% if other_post.blogpost_id < 4 %}
              <ul class="list-unstyled">
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                        href="{{ url_for('show_post', post_id=other_post.blogpost_id) }}">
                        <img src="{{ other_post.img_url }}" alt="{{ other_post.title }}" class="bd-placeholder-img"
                            width="100%" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">{{ other_post.title }}</h6>
                            <small class="text-body-secondary">{{ other_post.upload_date }}</small>
                        </div>
                    </a>
                </li>
              </ul>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}

<!-- Bootstrap Modal for Confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBodyContent">
        <!-- Content will be dynamically loaded here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirmDeleteBtn">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
  let deleteUrl = '';

  function confirmDeletePost(title, author, url) {
    deleteUrl = url;
    document.getElementById('modalBodyContent').innerText = `Are you sure you want to delete post: "${title}", Author：${author}?`;
    const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
    confirmationModal.show();
  }

  function confirmDeleteComment(comment, userName, commentTime, url) {
    deleteUrl = url;
    document.getElementById('modalBodyContent').innerText = `Are you sure you want to delete comment: "${comment}" by ${userName} in ${commentTime}?`;
    const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
    confirmationModal.show();
  }

  document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
    window.location.href = deleteUrl;
  });

  // Automatically show flash messages in a modal
  document.addEventListener('DOMContentLoaded', function () {
    const flashMessages = JSON.parse('{{ get_flashed_messages()|tojson }}');
    if (flashMessages.length > 0) {
      const modalBodyContent = document.getElementById('modalBodyContent');
      modalBodyContent.innerHTML = '';
      flashMessages.forEach(message => {
        const p = document.createElement('p');
        p.textContent = message;
        modalBodyContent.appendChild(p);
      });
      const flashModal = new bootstrap.Modal(document.getElementById('flashModal'));
      flashModal.show();
    }
  });
</script>