<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form  method="post">
        
        <label for="user_id">Tag User:</label>
        <input type="text" id="user_id" name="user_id">
        <button type="button" id="check_user">Check User</button><br>
        
        <ul id="tagged_users"></ul>
    </form>
    
    <script>
        $(document).ready(function() {
            var taggedUsers = [];

            $('#check_user').on('click', function() {
                var userId = $('#user_id').val();
                $.ajax({
                    url: '/check_user',
                    method: 'POST',
                    data: { user_id: userId },
                    success: function(response) {
                        if (response.status === 'found') {
                            taggedUsers.push(response.user);
                            $('#tagged_users').append(
                                `<li id="user_${response.user.id}">
                                    ${response.user.id} - ${response.user.name}
                                    <button type="button" onclick="removeUser(${response.user.id})">Remove</button>
                                </li>`
                            );
                            $('#user_id').val('');
                        } else {
                            alert('User not found');
                        }
                    }
                });
            });

            window.removeUser = function(userId) {
                taggedUsers = taggedUsers.filter(user => user.id !== userId);
                $(`#user_${userId}`).remove();
            };
        });
    </script>
</body>
</html>